/*AuthentiQ-Code*/

*{
	padding:0;
	margin: 0;
	font-family: Poppins, arial, sans-serif;
	box-sizing: border-box;
	text-decoration: none;
    transition: 0.7s ease all;

}

body{

	background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('img.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100dvh;
	width: 100vw;
}

.main-container{
	width:450px;
	max-width: 480px;
	height:auto;
	background:#ffffff;
	padding: 20px 40px 40px;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	position: absolute;
	top: 35%;
	left: 40%;
	transform: translate(-25%, -35%);

}
.form-container{
	width: 100%;
	height: 100%;
}
h2{
	margin-bottom: 10px;
	font-size: 30px;
}

h2::after{
	content: "";
	width: 30px;
	height: 4px;
	border-radius: 4px;
	background-color: #800000;
	position: absolute;
	top: 70px;
	left: 50%;
	transform: translateX(-50%);

}

.input-container{
	margin-top:10px;
	margin-bottom:10px;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	height: 45px;
	border-radius:8px;
	background-color: #eaeaea;
	display: flex;
	align-items: center;
	max-height: 65px;
	transition: max-height .5s;
	overflow: hidden;



}

.input-container input{
    width: 100%;
	outline:0;
	border: 0;
	margin-left: 6px;
	background: transparent;
	color: #000000;
	font-size: 14px;
}

.input-container i{
	color: rgba(19, 19, 19, 0.4);
	font-size: 15px;
	padding: 0 .7rem;

}

.form-container .forget{
	color: #000000;
	font-size: 14px;
	margin-top: .6rem;
	cursor: pointer;

}
.buttons{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 2.2rem;
}
.buttons button{
    width: 40%;
    padding: 6px;
    font-size: 16px;
    text-align: center;
    color: white;
	background: #800000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background .5s;
}

.reset-password{
	width: 100%;
	padding: 6px;
	font-size: 16px;
	text-align-last: center;
	color: #ffffff;
	background: #800000;
	cursor: pointer;
	border-radius: 20px;
	border: none;
	margin-top: .8rem;
	display: none;
}


.buttons button.disable{
	background: #eaeaea;
	color: #800000;
}

.remove{
	max-height: 0;
}


/*Mediaqueries for mobile and tablet*/
@media(max-width: 480px){

body{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100dvh;
	width: 100%;
	padding:0;

}

.form-container .forget{
	font-size: 12px;

}

.main-container{
	max-width: 80%;
	position: absolute;
	top: 35%;
	left: 28%;
	padding: 30px;

}

.input-container input{
	font-size: 13px;
}
h2{
	font-size: 20px;
}
.input-container i{
	font-size: 13px;

}

h2::after{
	top: 60px;

}

}

@media(max-width: 600px){

body{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100dvh;
	width: 100%;
	padding:0;

}

.main-container{
	margin: 0 auto;
	max-width: 80%;
	position: absolute;
	top: 35%;
	left: 30%;

}

@media(max-width: 360px){
.input-container input,
.reset-password,
.buttons button{
	font-size: 12px;
}

.main-container{
	padding: 20px;
}

}